#text
    %h2= "New Tasting for #{@wine}"
    = form_for [@wine, @tasting] do |f|
        %p
            = f.label :json_string
            = f.text_field :json_string
    
        %p
            = f.submit
#graph

- content_for :js_includes do 
    = javascript_include_tag "raphael-min.js"
    = javascript_include_tag "aromaViewTemplate.js"
    = javascript_include_tag "aromaView.js"
